<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>NLP Analysis --> 👍🏻</title>
    </head>
    <body>
        <div id= 'fullPageWarning'>
        <header id="TopHeader">
                <div class="logo">
                 <h1>Sentiment analyzation is here</h1>
                </div>
                <nav class="topNavBar">
                  <ul class="cards-list">
                    <li class="card left-card">
                        <a href=""> 
                            <h6 class="card-title">Concept</h6>
                            <p class="card-desc">Sentiment analysis is the interpretation and classification of emotions positive ...</p>
                            <p class="card-icon">icon</p>
                        </a>
                    </li>
                    <!-- <div class="middle-cards">
                        <li class="card top-card">
                            <a href="Importance">
                                 <h6 class="card-title">Importance</h6>
                                 <p class="card-desc">consumer behaviour, what our customers want, what our customers like and dislike ...</p>
                                 <p class="card-icon">icon</p>
                                </a>
                        </li>
                        <li class="card botton-card">
                        <a href="Reference">
                        <h6 class="card-title">Reference</h6>
                        <p class="card-desc">Aylien Sentiment Analysis</p>
                        <p class="card-icon">icon</p>
                       </a></li>
                    </div> -->
                    <li class="card right-card">
                        <a href="">
                            <h6 class="card-title">Analyze Here</h6>
                            <p class="card-desc">There is a wealth of information out there hidden in ...</p>
                            <p class="card-icon">icon</p>
                           </a>
                       
                       </li>
                  </ul>
                </nav>
        </header>
        <main>

            <section class="concept">
               <div class="concept-content">
                   <h2 class="concept-title">sentiment analysis concept</h2>
                   <div class="img-concept">
                   </div>
                   <div class="p-concept">
                       <p>
                           Sentiment analysis is the interpretation and classification of emotions (positive, negative and neutral) within text data using text analysis techniques. Sentiment analysis allows businesses to identify customer sentiment toward products, brands or services in online conversations and feedback. </br></br> Sentiment analysis is a text analysis method that detects polarity (e.g. a positive or negative opinion) within text, whether a whole document, paragraph, sentence, or clause.
                       </p>
                    </div>
               </div>
            </section>
            <section class="analysis">
               
                <h2 class="analysis-title">Analyze Sentiment with NLP</h2>
                <div class="analysis-content">
                    <form class="analysis-form" onsubmit="return Client.handleSubmit(event)">
                        <input id="text" type="text" name="input" value="" placeholder="Text" required minlength="15"> 
                        <h4 class="error-message">Please fill the field</h4>
                        <input id="btn" type="submit" name="" value="Analyze" onclick="return Client.handleSubmit(event)">
                    </form>
                    <div class="results">
                        <div class="results-box">
                                <div class="submitted-text-box">
                                    <h1>Submitted Text</h1>
                                    <p class="submitted-text">~~~~~~~~~~~~~~~</p>
                                </div>
                                <div class="result">
                                    <h5>Result</h5>
                                    <div class="prop">
                                        <h6>polarity</h6>
                                        <h6>polarity_confidence</h6>
                                    </div>
                                    <div class="prop-res">
                                        <h5 class="polarity">Positive</h5>
                                        <h5 class="polcConf">0.99</h5>
                                    </div>
                                    <div class="prop-bar">
                                        <hr class="bar">
                                    </div>
                                </div>
                        </div>
                    </div>
            </div>
            </section>
        </main>
        <footer>
            <h3>copyright</h3>
            <h3>contacts</h3>
        </footer>
    </div>
    <!-- <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script> -->
    </body>
</html>
