<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>
    <body>
        <div id= 'fullPageWarning'>
        <header id="TopHeader">
                <div class="logo"></div>
                <nav class="topNavBar">
                  <ul class="cards-list">
                    <li class="card left-card">
                        <a href="Concept"> 
                            <h6 class="card-title">Concept</h6>
                            <p class="card-desc">Sentiment analysis is the interpretation and classification of emotions positive ...</p>
                            <p class="card-icon">icon</p>
                        </a>
                    </li>
                    <div class="middle-cards">
                        <li class="card top-card">
                            <a href="Importance">
                                 <h6 class="card-title">Importance</h6>
                                 <p class="card-desc">consumer behaviour, what our customers want, what our customers like and dislike ...</p>
                                 <p class="card-icon">icon</p>
                                </a>
                        </li>
                        <li class="card botton-card"><a href="Analysis">
                            <h6 class="card-title">Analysis here</h6>
                            <p class="card-desc">There is a wealth of information out there hidden in ...</p>
                            <p class="card-icon">icon</p>
                           </a></li>
                    </div>
                    <li class="card right-card"><a href="Reference">
                        <h6 class="card-title">Reference</h6>
                        <p class="card-desc">Aylien Sentiment Analysis</p>
                        <p class="card-icon">icon</p>
                       </a></li>
                  </ul>
                </nav>
        </header>
        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" value=""  placeholder="Name">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            <section>
            <section>
                <strong>Form Results:</strong>
                <div id="results"></div>
            </section>
        </main>
        <footer>
            <p>This is a footer</p>
        </footer>
    </div>
    </body>
</html>
