<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>
    <body>
        <div id= 'fullPageWarning'>
        <header id="TopHeader">
            <div class="logo"></div>
            <nav class="topNavBar">
              <ul class="list">
                <li class="headerList"><a href=""> What is Sentiment Analysis</a></li>
                <li class="headerList"><a href=""> Why Sentiment Analysis Important?</a></li>
                <li class="headerList"><a href="">Analyze Any text</a></li>
                <li class="headerList"></li>
              </ul>
            </nav>
        </header>
        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" value=""  placeholder="Name">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            <section>
            <section>
                <strong>Form Results:</strong>
                <div id="results"></div>
            </section>
        </main>
        <footer>
            <p>This is a footer</p>
        </footer>
    </div>
    </body>
</html>
