@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Lato&family=Raleway&display=swap');
$headerBackgroundColor: #e5e2e2;
$fontKalam: 'Kalam', cursive;
$fontLato: 'Lato', cursive;
$fontRaleway: 'Raleway', cursive;
$cards-padding: 10%;
@mixin top-border($color) {
	border-top: 8px solid $color;
}
// * {
// 	border: 1px solid red;
// }

#TopHeader {
	display: grid;
	justify-content: stretch;
	align-items: start;
	gap: 10px;
	background-color: $headerBackgroundColor;
	transition: background-color 1.5s ease-in;
	color: white;
	height: 100vh;
	width: 100%;
	.logo {
		align-self: start;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		h1 {
			width: 100%;
			justify-self: center;
			align-self: center;
			padding-left: 16%;
			font-size: 4vw;
			color: black;
			font-family: $fontLato;
			text-transform: uppercase;
		}
		img {
			width: 300px;
			height: 300px;
			align-self: center;
		}
	}
	.topNavBar {
		width: 100%;
		display: grid;

		.cards-list {
			display: grid;
			gap: 15px;
			// .middle-cards {
			// 	grid-column: 2;
			// 	grid-row: 1 / 45;
			// 	display: grid;
			// 	gap: 10px;
			// 	margin: 0 50px 0 50px;
			// 	.top-card {
			// 		@include top-border(red);
			// 	}
			// 	.botton-card {
			// 		@include top-border(rgb(29, 216, 97));
			// 	}
			// }
			.left-card {
				grid-column: 1;
				grid-row: 11 / 33;
				@include top-border(#6fbeee);
			}
			.right-card {
				@include top-border(#ccc905);
				background-color: red;
				grid-column: 3;
				grid-row: 11 / 33;
			}
			.card {
				background-color: #f3f1f1;
				margin: 2px;
				padding: 26px 132px 0 49px;
				-webkit-box-shadow: 7px 12px 20px 1px #545456;
				-moz-box-shadow: 7px 12px 20px 1px #545456;
				box-shadow: 7px 12px 20px 1px #545456;
				border-radius: 5px;
				.card-icon {
					img {
						width: 80px;
						padding: 0px;
						margin-right: -83px;
					}
				}
				.card-desc {
					max-width: 171px;
					line-height: 1.3;
					padding: 12px 0 15px 0;
					color: #7b7878;
				}
				a {
					text-decoration: none;
					font-family: $fontRaleway;
					display: grid;

					justify-items: center;
					height: 100%;
					:nth-child(3) {
						justify-self: end;
					}
					:nth-child(1) {
						font-size: 30px;
						justify-self: start;
						color: #666161;
					}
				}
			}
		}
	}
}
